@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  @apply max-w-none text-slate-700 dark:text-slate-300;
}

.prose h1 {
  @apply text-slate-900 dark:text-white mb-8;
}

.prose h2 {
  @apply text-slate-900 dark:text-white mt-12 mb-4;
}

.prose h5 {
  @apply text-slate-900 dark:text-white mt-12 mb-4;
}
.prose p {
  @apply mb-4;
}

.prose ul {
  @apply my-6 list-disc list-inside;
}

.prose li {
  @apply text-slate-700 dark:text-slate-300;
}

@media print {
  /* Skjul navigation og andre UI elementer ved print */
  aside,
  button,
  nav {
    display: none !important;
  }

  /* Fjern margin fra main content */
  main {
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Reset padding fra layout */
  .pl-64 {
    padding-left: 0 !important;
  }

  /* Skaler tekst til print */
  .prose {
    font-size: 10pt; /* Mindre tekst for bedre udnyttelse af plads */
  }

  /* Skjul farver i print (for at undgå problemer med mørk tilstand) */
  * {
    background: none !important;
    /* color: black !important; */
  }

  /* Sørg for at kodeblokke bliver læselige */
  pre {
    border: 1px solid #ddd !important;
    white-space: pre-wrap !important;
    page-break-inside: avoid;
  }

  /* Skab sektioner, der ikke deles mellem sider */
  .section {
    page-break-after: always; /* Tvinger en ny side efter hver sektion */
  }

  /* Forhindrer opdeling af store blokke som lister */
  ul,
  ol,
  p,
  h2 {
    page-break-inside: avoid;
  }

  /* Skift page-break på store overskrifter */
  h1,
  h2 {
    page-break-before: avoid; /* Tvinger en ny side før store overskrifter */
  }
  /* Skift page-break på store overskrifter */
  h5 {
    page-break-before: always; /* Tvinger en ny side før store overskrifter */
  }
  /* Forhindrer billeder i at blive delt */
  img {
    page-break-inside: avoid;
  }

  /* Skru ned for marginerne for at få plads til alt på én side */
  body {
    margin: 0;
    padding: 0;
  }

  /* Skru ned for indrykning på listepunkter */
  li {
    margin-left: 10px;
  }
}

/* Custom Scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 3px;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #334155;
}
